.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: none;
    cursor: pointer;
    outline: none;
}


.BuildControl button:disabled {
    background-color: #868e96;
    border: none;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #C7C6C6;
    border: none;
    color: #888888;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #343a40;
    color: white;
}

.BuildControl .More {
    background-color: #343a40;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #dc3545;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #28a745;
    color: white;
}